@import url("https://use.typekit.net/ega2xty.css");

@keyframes svg-shift {
  0% {
    fill: #6a00ff;
  }
  100% {
    fill: #03fcf0;
  }
}

@keyframes svg-shift-two {
  0% {
    fill: #ff0000;
  }
  100% {
    fill: #990000;
  }
}
.cls-2 {
  fill: #bc5810;
}
.cls-3 {
  fill: #bc5810;
  transform: translate(-40%, -20%);
}
.cls-4 {
  transform: translate(-40%, -20%);
  opacity: 0.4;
  fill: #f5feff;
  mix-blend-mode: screen;
}
.cls-5 {
  transform: translate(-40%, -20%);
  opacity: 0.4;
  mix-blend-mode: overlay;
}
.cls-6 {
  fill: url(#linear-gradient);
}
.fill-overlay {
  fill: #f5feff;
  opacity: 0.3;
}
.fill {
  transition: width 1.5s ease, fill 1s ease;
  animation: svg-shift 3s infinite alternate;
}
#healthContainer {
  position: absolute;
  left: 50% !important;
  bottom: 1em;
  transform: translateY(-50px) !important;
  display: inline-block;
  width: 600px;
  height: 100px;
  background: transparent !important;
  text-align: center !important;
}

#healthHp {
  font-family: snicker, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d4a537;
  font-size: 1.2em;
  transform: translateY(65px) !important;
  text-shadow: 2px 2px 2px black;
  text-align: center !important;
}
.healthBar {
  display: none !important;
}
.healthYolk {
  display: none !important;
}

.healthSvg {
  display: none !important;
}
